<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_slideshow) -%>">
  <span class='title'>
    <%= link_to refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow) do %>
      <%= image_slideshow.title %>
    <% end %>
  </span>
  <span class='actions'>
    <%= action_icon(:settings, refinery.image_slideshows_admin_image_slideshow_image_slides_path(image_slideshow), t('.manage_image_slides')) %>
    <%= action_icon(:edit, refinery.edit_image_slideshows_admin_image_slideshow_path(image_slideshow), t('.edit') ) %>
    <%= action_icon(:delete, refinery.image_slideshows_admin_image_slideshow_path(image_slideshow), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: image_slideshow.title)}}  ) %>
  </span>
</li>
