<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(image_slide) -%>" style="background-color: #EAEAEA; margin-bottom: 10px;">
  <%= image_fu image_slide.image, '128x128', :style => 'padding: 1em 1em 0 1em;' %>
  <span class="preview">
    <% if Refinery::I18n.frontend_locales.many? %>
       <span class='locales'>
         <% image_slide.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
           <% if translation.title.present? %>
             <%= link_to refinery.edit_image_slideshows_admin_image_slideshow_image_slide_path(@image_slideshow, image_slide, :switch_locale => translation.locale), :class => 'locale', title: translation.locale.upcase do %>

               <div class="<%=translation.locale %> locale_marker">
                 <%= locale_text_icon(translation.locale.upcase) %>
               </div>
             <% end %>
           <% end %>
         <% end %>
       </span>
     <% end %>
  </span>

  <span class='actions'>
    <%= action_icon(:edit, refinery.edit_image_slideshows_admin_image_slideshow_image_slide_path(@image_slideshow, image_slide), t('.edit') ) %>
    <%= action_icon(:delete, refinery.image_slideshows_admin_image_slideshow_image_slide_path(@image_slideshow, image_slide), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: image_slide.title)}}  ) %>
  </span>
</li>
